<%= form_with model: [ @card, @card.comments.build ] do |form| %>
    <p>
      <%= form.label :commenter %><br>
      <%= form.text_field :commenter %>
    </p>
    <p>
      <%= form.label :body %><br>
      <%= form.text_area :body %>
    </p>
     
      <%= form.submit %>
    </p>
  
  <% end %>
  